<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test css</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">

    <script src="./assests/js/scripts.js"></script>
    <link rel="stylesheet" href="../assests/css/style.css">
</head>

<body>
    <div class="container mt-5 bg-light rounded shadow">
        <div class="row">
            <div class="col-3 col-sm-2">
                <a href="#">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGYtffR1WMuTYhGqol8MDolEarq1AjCx9C4Q&usqp=CAU"
                        alt="123" class="rounded-circle img-fluid">
                </a>
            </div>
            <div class="col-9 col-sm-10 p-3">
                <h3>Logo rimworld</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <a href="#" class="btn btn-info">Learn more</a>
            </div>
        </div>
    </div>
</body>

</html>